
<div id="newPinModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="$close()"><span>×</span></button>
                    <h4 editable-text="editingPoi.name" class="modal-title" onaftersave="savePoi()">{{editingPoi.name}}</h4>
                </div>

                <div class="modal-body">
                    <form id="newPinForm" name="newPinForm" class="ng-pristine ng-valid">

                        <div class="form-group">
                            <textarea class="form-control" rows="3" ng-model="editingPoi.description"></textarea>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">Latitude: </span>
                            <input type="text" ng-model="editingPoi.lat" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                            <span class="input-group-addon">Longitude: </span>
                            <input type="text" ng-model="editingPoi.lng" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                            <!-- Rather than the "from device" button, we could add a button here with glyphicon-screenshot ....-->
                        </div>

                        <p></p>

                        <div class="form-group">
                            <p>
                                <label>Get lat & long from ...</label>
                                <button class="btn btn-default" ng-click="locationFromDevice()">
                                    <!-- TODO: Really this should be a laptop, not a phone. Misleading. -->
                                    <span class="glyphicon glyphicon-phone"></span> Device
                                </button>
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-file"></span> File
                                </button>
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Fields: </label>
                            <button ng-click="addNewPinField()" class="btn btn-default">
                              <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <div ng-repeat="(fieldKey, fieldValue) in editingPoi.fields" class="ng-scope">
                                <!-- TODO: prevent (saving) duplicate key -->
                                <input type="text" ng-model="fieldKey"> 
                                <input type="text" ng-model="fieldValue"> 
                                <button ng-click="deletePinField(fieldKey)" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- TODO: click for button should trigger the input's click ... -->
                            <!-- TODO: Make this thing expand slowly somehow, and not change height -->
                            <button class="btn btn-default resize-2s" ng-mouseover="showAttachmentsText=true" ng-mouseleave="showAttachmentsText=false">
                                <label class="glyphicon glyphicon-paperclip">
                                    <input type="file" style="display: none;" custom-on-change="attachmentAdded" />
                                </label>
                                <label ng-show="showAttachmentsText"> Attachments</label>
                            </button>
                            <!-- TODO: Clear all attachments button -->
                        </div>
                        <div class="form-group">
                            <div class="attachmentContainer" ng-repeat="(attachmentName, attachment) in editingPoi.attachments" class="ng-scope">
                                <img width="140px" height="140px" data-ng-src="{{attachment.imageSrc}}" />
                                <button ng-click="deleteAttachment(attachmentName)" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                <button ng-click="latLongFromAttachment(attachmentName)" class="btn btn-default">
                                    <span class="glyphicon glyphicon-screenshot"></span>
                                </button>
                                <!--
                            <input type="button" ng-show="editingPoi.hasAttachments()" value="Clear Attachments" ng-click="$ctrl.clearAttachments()" class="ng-hide">
                            -->
                            </div>
                        </div>
                    </form>
                </div>
            <div class="modal-footer">
                <button class="btn btn-default">Copy</button>
                <button type="submit" class="btn btn-success" ng-click="savePoi()" ng-disabled="newPinForm.$invalid">
                                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <button ng-click="deleteMapMarker(editingPoi)" type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"> Delete</span>
                </button>
                <!-- TODO: Cancel (revert from localstorage ...) -->
            </div>
        </div>
    </div>
