
<div id="newPinModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 editable-text="editingPoi.message" class="modal-title" onbeforesave="savePoi(editingPoi)">{{editingPoi.message}}</h4>
                </div>
                <div class="modal-body">
                    <form id="newPinForm" name="newPinForm" class="ng-pristine ng-valid">
                        <div class="form-group">
                            <label for="latitude">Latitude: </label>
                            <input type="text" ng-model="editingPoi.lat" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                            <label for="longitude">Longitude: </label>
                            <input type="text" ng-model="editingPoi.lng" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                            <input type="button" ng-show="$ctrl.hasLatLongFromImage == true" value="Set lat long from " ng-click="$ctrl.imageLatLong.set()" class="ng-hide">
                        </div>
                        <div class="form-group">
                            <label for="message">Fields: </label>
                            <div ng-repeat="(fieldKey, fieldValue) in editingPoi.fields" class="ng-scope">
                              <input type="text" ng-model="fieldKey"> <input type="text" ng-model="fieldValue">
                            </div>
                        </div>
                        <div class="form-group">
                            <button ng-click="addNewPinField()" class="btn btn-primary" id="newPinAddFieldButton">
                              <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="message">Attachments: </label>
                            <input type="file" id="newAttachment" custom-on-change="attachmentAdded">
                            <div id="imagePreview"></div>
                            <input type="button" ng-show="$ctrl.newPin.hasAttachments()" value="Clear Attachments" ng-click="$ctrl.clearAttachments()" class="ng-hide">
                        </div>
                    </form>
                </div>
            <div class="modal-footer">
                <button ng-click="$ctrl.createMapEntry()" type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="newPinForm.$invalid">Done</button>
                <button ng-click="deleteMapMarker(editingPoi)" type="submit" class="btn btn-danger" data-dismiss="modal">
                    <span class="glyphicon glyphicon-trash"> Delete</span>
                </button>
            </div>
        </div>
    </div>
