version: 2.0
jobs:
  build:
    docker:
      - image: ubuntu:16.04
    working_directory: ~/neteoc
    steps:
      - checkout
      - run: apt update && apt upgrade -y
      - run: apt install -y curl build-essential
      - run: curl -sL https://deb.nodesource.com/setup_6.x | bash -
      - run: apt install -y nodejs
      - run: npm install
      - run: npm run release-windows
    
