<!DOCTYPE html>
<html ng-app="neteoc">

<head>
    <meta charset="UTF-8">
    <title>NetEOC</title>

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <!-- Vendor Styles -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="vendor/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="vendor/angular-datatables/demo/src/archives/dist/css/angular-datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.css" />

    <!-- Application Styles -->
    <link rel="stylesheet" type="text/css" href="styles/site.css" />

    <!-- Vendor Scripts -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <!--
    <script type="text/javascript">
        window.$ = window.jQuery = require("jquery");
    </script>
    -->
    <script src="vendor/linqjs/linq.js"></script>
    <script src="vendor/leaflet/dist/leaflet.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-electron/angular-electron.js"></script>
    <script src="vendor/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="vendor/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script>
    <script src="vendor/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="vendor/angular-datatables/demo/src/archives/dist/angular-datatables.min.js"></script>
    <script src="vendor/angular-xeditable/dist/js/xeditable.js"></script>

    <!-- Application Scripts -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/directives/directive.spinner.js"></script>
    <script src="scripts/services/service.api.js"></script>
    <script src="scripts/services/service.kml.js"></script>
    <script src="scripts/services/service.exif.js"></script>
    <script src="scripts/services/service.logger.js"></script>
    <script src="scripts/services/service.menu.js"></script>
    <script src="scripts/services/service.serialPorts.js"></script>
    <script src="scripts/services/service.gpsService.js"></script>
    <script src="scripts/controllers/controller.main.js"></script>
    <script src="scripts/controllers/gis/controller.map.js"></script>
    <script src="scripts/controllers/account/controller.login.js"></script>
    <script src="scripts/controllers/system/controller.serialPorts.js"></script>

    <script>if (window.module) module = window.module;</script>

</head>

<body ng-controller="mainCtrl">
    <!--Main Content Area-->
    <section ng-if="!stateIsLoading" ng-view ng-cloak></section>
    <section ng-if="stateIsLoading" spiner spinner-on="true"></section>
</body>

</html>