<!DOCTYPE html>
<html ng-app="neteoc">

<head>
    <meta charset="UTF-8">
    <title>NetEOC Desktop</title>

    <!-- Vendor Styles -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="vendor/leaflet/dist/leaflet.css" />

    <!-- Application Styles -->
    <link rel="stylesheet" type="text/css" href="styles/site.css" />

    <!-- Vendor Scripts -->
    <script src="vendor/linqjs/linq.js"></script>
    <script src="vendor/leaflet/dist/leaflet.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="vendor/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script>
    <script src="vendor/angular-electron/angular-electron.js"></script>
    <script src="vendor/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>

    <!-- Application Scripts -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/directives/directive.spinner.js"></script>
    <script src="scripts/services/service.api.js"></script>
    <script src="scripts/controllers/controller.main.js"></script>
    <script src="scripts/controllers/map/controller.map.js"></script>
    <script src="scripts/controllers/account/controller.login.js"></script>

</head>

<body ng-controller="mainCtrl">
    <!--Main Content Area-->
    <section ng-if="!stateIsLoading" ng-view ng-cloak></section>
    <section ng-if="stateIsLoading" spiner spinner-on="true"></section>
</body>

</html>