<div class="sign-in-wrapper" ng-controller="loginCtrl">
    <form class="form-signin">
        <h2 class="form-signin-heading">NetEOC</h2>
        <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Login</button>
        <h5 class="form-signin-heading">or continue in</h5>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Offline Mode</button>
    </form>
</div>